body {
  background: linear-gradient(to right bottom, rgb(0, 255, 0), rgb(0, 0, 255));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
}
